#jatekTer{
    border: 1px solid red;
    width: 100%;
    height: 40vw;
    display: flex;
}
#leftside{
    height: 40vw;
    width: 30%;
    background-color: brown;
}
#kartyaBox{
    border: 1px solid darkgreen;
    width: 100%;
    height: 20vw;
    background-image: url("láda.png");
    background-size: cover;
    background-color: brown;
}
#Pontbox{
    border: 1px solid darkgreen;
    width: 100%;
    height: 20vw;
}
#tabla{
    border: 1px solid darkgreen;
    height: 40vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-image: url(fu.jpg);
}
#korokBox{
    border: 1px solid black;
    width: 20%;
    height: 40vw;
    background-image: url(lovag.jpg);
}

.sordiv{
    display: flex;
    flex-direction: row;
    height: 8vw;
}
.oszlopdiv{
    width: 16.6%;
    margin: 5px;
    border: 1px solid black;
    background-image: url(mezo.jpg);
}
img{
    width: 100%;
}